{% extends '_base.html' %}
{% load static %}

{% block title %}
  Cart
{% endblock %}

{% block content %}
  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <p>Fresh and Organic</p>
            <h1>Cart</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->
  {% if messages %}
    <div class="container">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
  <!-- cart -->
  <div class="cart-section mt-150 mb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12">
          {% if cart %}
            <div class="cart-table-wrap">
              <table class="cart-table">
                <thead class="cart-table-head">
                  <tr class="table-head-row">
                    <th class="product-remove"></th>
                    <th class="product-image">Product Image</th>
                    <th class="product-name">Name</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-total">Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in cart %}
                    <tr class="table-body-row">
                      <td class="product-remove">
                        <a href="{% url 'remove_cart' item.product_obj.id %}"><i class="far fa-window-close"></i></a>
                      </td>
                      <td class="product-image">
                        <img src="{{ item.product_obj.image.url }}" alt="" />
                      </td>
                      <td class="product-name">{{ item.product_obj.title }}</td>
                      <td class="product-price">${{ item.product_obj.price }}</td>
                      <td class="product-quantity">
                        <form class="d-flex" action="{% url 'cart_add' item.product_obj.id %}" method="POST">
                          {% csrf_token %}
                          <div class="quantity">
                            <input type="number" class="quantity-input" name="quantity" id="qty-1" value="{{ item.quantity }}" min="1" />
                          </div>
                          {{ item.product_update_quantity_form.inplace }}
                          <button class="small" type="submit">Refresh</button>
                        </form>
                      </td>
                      <td class="product-total">{{ item.total_price }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
            <p>Cart is Empty! Please add to cart some products.</p>
            <a href="{% url 'product_list' %}">Go shopping</a>
          {% endif %}
        </div>

        <div class="col-lg-4">
          <div class="total-section">
            <table class="total-table">
              <thead class="total-table-head">
                <tr class="table-total-row">
                  <th>Total</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr class="total-data">
                  {% if cart.coupon %}
                    <td>
                      <strong>Total:</strong>
                    </td>
                    <td>{{ cart.get_total_price }}</td>
                    <td>
                      <strong>Total with coupon</strong>
                    </td>
                    <td>{{ cart.get_total_price_after_discount }}</td>
                  {% else %}
                    <td>
                      <strong>Total:</strong>
                    </td>
                    <td>{{ cart.get_total_price }}</td>
                  {% endif %}
                </tr>
              </tbody>
            </table>
          </div>

          <div class="coupon-section">
            <h3>Apply Coupon</h3>
            <form action="{% url 'apply' %}" method="post">
              {% csrf_token %}
              {{ coupon_apply_form }}
              <input type="submit" value="apply" />
            </form>
            <br>
            <div class="coupon-form-wrap">
              <a class="btn btn-primary" href="{% url 'order_create' %}">Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end cart -->
{% endblock %}
