{% extends '_base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
  {% trans "contact" %}
{% endblock %}

{% block content %}
  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <h1>{% trans "Contact us" %}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->
  {% if messages %}
    <div class="container">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <!-- contact form -->
  <div class="contact-from-section mt-150 mb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div  class="form-title">
            <h2>{% trans "Have you any question?" %}</h2>
            <p>{% trans "Fill form of the below and send to us" %}</p>
          </div>
          <div id="form_status"></div>
          <div  class="contact-form">
            <form method="post" id="fruitkha-contact" onSubmit="return valid_datas( this );">
              {% csrf_token %}
              <p>
                <input type="text" placeholder="{% trans "Name" %}" name="name" id="name" />
                <input type="email" placeholder="{% trans "Email" %}" name="email" id="email" />
              </p>
              <p>
                <input type="tel" placeholder="{% trans "Phone" %}" name="phone" id="phone" />
                <input type="text" placeholder="{% trans "Subject" %}" name="subject" id="subject" />
              </p>
              <p>
                <textarea name="message" id="message" cols="30" rows="10" placeholder="{% trans "Message" %}"></textarea>
              </p>
              <input type="hidden" name="token" value="FsWga4&@f6aw" />
              <p>
                <input type="submit" value="{% trans "Send" %}" />
              </p>
            </form>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-form-wrap">
            <div class="contact-form-box">
              <h4><i class="fas fa-map"></i>{% trans "Address" %}</h4>
              <p>
                {{information.address}}
              </p>
            </div>
            <div class="contact-form-box">
              <h4><i class="far fa-clock"></i>{% trans "time working" %}</h4>
              <p>
                {{information.time_working}}
              </p>
            </div>
            <div class="contact-form-box">
              <h4><i class="fas fa-address-book"></i>{% trans " Contact" %}</h4>
              <p>
                {% trans "Phone" %}: {{information.phone_number}} <br /> {% trans "email" %}: {{information.email}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end contact form -->
{% endblock %}
