{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load persian_template_tags %}
{% load humanize %}

{% block title %}
  {% trans "Home" %}
{% endblock %}

{% block content %}
  <!-- hero area -->
  <div class="hero-area hero-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 offset-lg-2 text-center">
          <div class="hero-text">
            <div class="hero-text-tablecell">
              <p class="subtitle">Fresh & Organic</p>
              <h1>{% trans "Alirezafood is the best choice for you" %}</h1>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end hero area -->

  {% if messages %}
    <div class="container">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
  <!-- features list section -->
  <div class="list-section pt-80 pb-80">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="list-box d-flex align-items-center">
            <div class="list-icon">
              <i class="fas fa-shipping-fast"></i>
            </div>
            <div class="content">
              <h3>Free Shipping</h3>
              <p>When order over $75</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="list-box d-flex align-items-center">
            <div class="list-icon">
              <i class="fas fa-phone-volume"></i>
            </div>
            <div class="content">
              <h3>24/7 Support</h3>
              <p>Get support all day</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="list-box d-flex justify-content-start align-items-center">
            <div class="list-icon">
              <i class="fas fa-sync"></i>
            </div>
            <div class="content">
              <h3>Refund</h3>
              <p>Get refund within 3 days!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end features list section -->

  <!-- product section -->
  <div class="product-section mt-150 mb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="section-title">
            <h3><span style="color: brown;">{% trans "Fantastic Price" %}</span></h3>
            
          </div>
        </div>
      </div>

      <div class="row">
        {% for product in percentages %}
          {% if product.discount %}
          {% if product.price_percentage >= 15  %}
          <div class="col-lg-4 col-md-6 text-center">
            <div class="single-product-item">
              <div class="product-image">
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="" /></a>
              </div>
              <h3>{{ product.title }}</h3>
              {% if product.discount %}
              <p style="font-size: 18px; text-decoration:line-through" class="product-price">{{ product.price|intcomma:False|translate_number }}{% trans "$" %}</p>
              <p style="font-size: 18px; " class="product-price">{{ product.discount|intcomma:False|translate_number }}{% trans "$" %}</p>
              <p style="color: crimson;">{{product.price_percentage|translate_number}}% {% trans "discount" %}</p>
              {% else %}
              <p style="font-size: 18px;" class="product-price">{{ product.price|intcomma:False|translate_number }}{% trans "$" %}</p>
              
              {% endif %}
              <div class="single-product-form">
                <form action="{% url 'cart_add' product.id %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="quantity" value="1" min="1" max="31" />
  
                  <button class="btn btn-danger" type="submit">{% trans 'Add to cart' %}</button>
                </form>
              </div>
            </div>
          </div>
          {% endif %}
          {% endif %}
        {% endfor %}

        
      </div>
    </div>
  </div>


  <!-- product section -->
  <div class="product-section mt-150 mb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="section-title">
            <h3><span class="orange-text">{% trans "Products" %}</span> <span class="orange-text">{% trans "Popular" %}</span></h3>
            
          </div>
        </div>
      </div>

      <div class="row">
        {% for product in products %}
          
          <div class="col-lg-4 col-md-6 text-center">
            <div class="single-product-item">
              <div class="product-image">
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="" /></a>
              </div>
              <h3>{{ product.title }}</h3>
              {% if product.discount %}
              <p style="font-size: 18px; text-decoration:line-through" class="product-price">{{ product.price|intcomma:False|translate_number }}{% trans "$" %}</p>
              <p style="font-size: 18px; " class="product-price">{{ product.discount|intcomma:False|translate_number }}{% trans "$" %}</p>
              <p>{{product.price_percentage|translate_number}}% {% trans "discount" %}</p>
              {% else %}
              <p style="font-size: 18px;" class="product-price">{{ product.price|intcomma:False|translate_number }}{% trans "$" %}</p>
              
              {% endif %}
              <div class="single-product-form">
                <form action="{% url 'cart_add' product.id %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="quantity" value="1" min="1" max="31" />
  
                  <button class="btn btn-danger" type="submit">{% trans 'Add to cart' %}</button>
                </form>
              </div>
            </div>
          </div>
          
        {% endfor %}

        
      </div>
    </div>
  </div>

  <!-- end product section -->
{% endblock %}
