{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load persian_template_tags %}
{% load humanize %}


{% block title %}
  {% trans "Product Detail" %}
{% endblock %}

{% block content %}
  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <h1>{% trans "Single Product" %}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->
  <!-- single product -->
  <div class="single-product mt-150 mb-150">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="single-product-img">
            <img src="{{ product.image.url }}" alt="" />
          </div>
        </div>
        <div class="col-md-7">
          <div class="single-product-content">
            <h3>{{ product.title }}</h3>
            <p class="single-product-pricing">{% trans "$" %}{{ product.price|intcomma:False|translate_number }}</p>
            <p>{{ product.description }}</p>
            <div class="single-product-form">
              <form action="{% url 'cart_add' product.id %}" method="post">
                {% csrf_token %}
                <input type="number" name="quantity" value="1" min="1" max="31" />

                <button class="btn btn-danger" type="submit">{% trans "Add to cart" %}</button>
              </form>
            </div>
            <div class="product-footer-meta mt-5 pt-5">
              {% if user.is_authenticated %}
                {% if liked %}
                  <form action="{% url 'likes' product.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn" type="submit" name="product_id" value="{{ product.id }}"><img height="30px;" src="{% static 'img/like.png' %}" alt=""></button>
                    {{ total_likes }} {% trans "Likes" %}
                  </form>
                {% else %}
                  <form action="{% url 'likes' product.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn" type="submit" name="product_id" value="{{ product.id }}"><img height="30px;" src="{% static 'img/like.png' %}" alt=""></button>
                    {{ total_likes }} {% trans "Likes" %}
                  </form>
                {% endif %}
              {% else %}
                <small>{% trans "For like this product you must login First!" %}</small>
                <a class="btn" href="{% url 'account_login' %}">{% trans "Login" %}</a>
              {% endif %}
            </div>
            <h4>Share:</h4>
            <ul class="product-share">
              <li>
                <a href=""><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href=""><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href=""><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href=""><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end single product -->
  <!-- more products -->
  <div class="more-products mb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="section-title">
            <h3><span class="orange-text">{% trans "Related" %}</span> {% trans "Products" %}</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
          </div>
        </div>
      </div>
      <div class="row">
        {% for product in related_products %}
          <div class="col-lg-4 col-md-6 text-center">
            <div class="single-product-item">
              <div class="product-image">
                <a href="single-product.html"><img src="{{ product.image.url }}" alt="" /></a>
              </div>
              <h3>{{ product.title }}</h3>
              <p class="product-price">{{ product.price|intcomma:False|translate_number }}{% trans "$" %}</p>
              <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> {% trans "Add to Cart" %}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- end more products -->
{% endblock %}
