{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load persian_template_tags %}
{% load humanize %}



{% block title %}
  {% trans "Products" %}
{% endblock %}

{% block content %}
  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <h1>{% trans "products" %}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->
  <!-- products -->
  <div class="product-section mt-150 mb-150">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="product-filters">
            <ul>
              {% for cat in category %}
                <a href="{% url 'category' cat.id %}"><li data-filter=".strawberry">{{ cat.title }}</li></a>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="row product-lists">
        {% for product in products %}
          <div class="col-lg-4 col-md-6 text-center strawberry">
            <div class="single-product-item">
              <div class="product-image">
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="" /></a>
              </div>
              <h3>{{ product.title }}</h3>
              {% if product.discount %}
              <p style="font-size: 18px; text-decoration:line-through" class="product-price">{{ product.price|intcomma:False|translate_number }}{% trans "$" %}</p>
              <p style="font-size: 18px; " class="product-price">{{ product.discount|intcomma:False|translate_number }}{% trans "$" %}</p>
              <p>{{product.price_percentage|translate_number}}% {% trans "discount" %}</p>
              {% else %}
              <p style="font-size: 18px;" class="product-price">{{ product.price|intcomma:False|translate_number }}{% trans "$" %}</p>
              
              {% endif %}
              <div class="single-product-form">
                <form action="{% url 'cart_add' product.id %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" id="qty" name="quantity" value="1" min="1" />

                  <button class="btn btn-danger" type="submit">{% trans "Add to cart" %}</button>
                </form>
                <img height="30px;" src="{% static 'img/like.png' %}" alt="" /><small>{{product.likes_count}}</small>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="pagination-wrap">
            <ul>
              {% if page_obj.has_previous %}
                <li>
                  <a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
                </li>
              {% endif %}
              {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                  <li>
                    <a href="">{{ i }}</a>
                  </li>
                {% else %}
                  <li>
                    <a href="?page={{ i }}">{{ i }}</a>
                  </li>
                {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
                <li>
                  <a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end products -->
{% endblock %}
