{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load persian_template_tags %}
{% load humanize %}

{% block title %}
  {% trans 'Product Detail' %}
{% endblock %}

{% block content %}
  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <h1>{% trans 'Single Product' %}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if messages %}
    <div class="container">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
  <!-- end breadcrumb section -->
  <!-- single product -->
  <div class="single-product mt-150 mb-150">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="single-product-img">
            <img src="{{ product.image.url }}" alt="" />
          </div>
        </div>
        <div class="col-md-7">
          <div class="single-product-content">
            <h3>{{ product.title }}</h3>
            <p class="single-product-pricing">
              {% trans '$' %}{{ product.price|intcomma:False|translate_number }}
            </p>
            <p>{{ product.description }}</p>
            <div class="single-product-form">
              <form action="{% url 'cart_add' product.id %}" method="post">
                {% csrf_token %}
                <input type="number" name="quantity" value="1" min="1" max="31" />

                <button class="btn btn-danger" type="submit">{% trans 'Add to cart' %}</button>
              </form>
            </div>
            <div class="product-footer-meta mt-5 pt-5">
              {% if user.is_authenticated %}
                {% if liked %}
                  <form action="{% url 'likes' product.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn" type="submit" name="product_id" value="{{ product.id }}"><img height="30px;" src="{% static 'img/like.png' %}" alt="" /></button>
                    {{ total_likes }} {% trans 'Likes' %}
                  </form>
                {% else %}
                  <form action="{% url 'likes' product.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn" type="submit" name="product_id" value="{{ product.id }}"><img height="30px;" src="{% static 'img/like.png' %}" alt="" /></button>
                    {{ total_likes }} {% trans 'Likes' %}
                  </form>
                {% endif %}
              {% else %}
                <small>{% trans 'For like this product you must login First!' %}</small>
                <a class="btn" href="{% url 'account_login' %}">{% trans 'Login' %}</a>
              {% endif %}
            </div>
            <h4>Share:</h4>
            <ul class="product-share">
              <li>
                <a href=""><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href=""><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href=""><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href=""><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end single product -->
  <div class="col-lg-8">
    <!-- Comment List -->
    <div class="mb-5">
      <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">{{ product.comments.count }} Comments</h3>
      {% for comment in product.comments.all %}
        <div class="media mb-4">
          <img src="img/user.jpg" alt="Image" class="img-fluid rounded-circle mr-3 mt-1" style="width: 45px;" />
          <div class="media-body">
            <h6>{{ comment.user }} <small><i>{{ comment.datetime_created }}</i></small></h6>
            <p>{{ comment.body }}</p>
            {% if comment.rate > 0 %}
            <i class="fa fa-star {% if comment.rate  < 1 %} no-checked {% else %} checked {% endif %} " id="check-star"></i>
            <i class="fa fa-star {% if comment.rate  < 2 %} no-checked {% else %} checked {% endif %} " id="check-star"></i>
            <i class="fa fa-star {% if comment.rate  < 3 %} no-checked {% else %} checked {% endif %} " id="check-star"></i>
            <i class="fa fa-star {% if comment.rate  < 4 %} no-checked {% else %} checked {% endif %} " id="check-star"></i>
            <i class="fa fa-star {% if comment.rate  < 5 %} no-checked {% else %} checked {% endif %} " id="check-star"></i>
          <hr>
          {% else %}

           <i class="fa fa-star " id="star"></i>
           <i class="fa fa-star" id="star"></i>
           <i class="fa fa-star" id="star"></i>
           <i class="fa fa-star" id="star"></i>
           <i class="fa fa-star" id="star"></i>
                  &nbsp;<span>No ratings</span>

          <hr>

          {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- Comment Form -->
    {% if user.is_authenticated %}
      <div  class="col-md-6">
        <p style="font-weight:600;">Write a review</p>
        <form method="post" action="{% url 'comment_create' product.id %}">
          {% csrf_token %} <div class="form-group required">
            <div class="form-group required">
              <div class="fa fa-star">
                <p>Your Rating:</p>
                <input type="radio" id="star5" name="rate" value="5" />
                <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label class="star" for="star4" title="Great" aria-hidden="true"></label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label class="star" for="star2" title="Good" aria-hidden="true"></label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
              </div>
            </div>
          
          <div class="form-group">
            
            <textarea name="body"  placeholder="write a review" rows="6" cols="50" id="review-text" required></textarea>
          </div>
          
          <div class="col-md-4">

            <input type="submit"  class="btn btn-primary mt-2" value="Post">
<!--                    col finish-->
          </div>  
          
        </form>
      </div>
    {% endif %}
  </div>
  <br />
  <hr />

  <!-- more products -->
  <div class="more-products mb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="section-title">
            <h3><span class="orange-text">{% trans 'Products' %}</span> {% trans 'Related' %}</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
          </div>
        </div>
      </div>
      <div class="row">
        {% for product in related_products %}
          <div class="col-lg-4 col-md-6 text-center">
            <div class="single-product-item">
              <div class="product-image">
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="" /></a>
              </div>
              <h3>{{ product.title }}</h3>
              <p class="product-price">
                {{ product.price|intcomma:False|translate_number }}{% trans '$' %}
              </p>
              <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> {% trans 'Add to Cart' %}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- end more products -->




  
<style>

  .checked {
    color: orange;
  }
    .rating {
    margin-top: 40px;
    border: none;
    float: left;
  
  }
  
  .rating > label {
     color: #9C9C9C;
    font-size: 7px;
    float:right;
  }
  
  
  .rating > label:before {
    margin: 5px;
    font-size: 2em;
    font-family: FontAwesome;
    content: "\f005";
    display: inline-block;
  }
  
  .rating > input {
    display: none;
  }
  
  .rating > input:checked ~ label,
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #F79426;
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label,
  .rating > input:checked ~ label:hover ~ label {
    color: #FECE31;
  }
  
  
  #star{
  font-size: 10px;
  color:grey;
  }
  
  #check-star{
  font-size: 10px;
  }
  
  </style>
{% endblock %}
